@model Organi.Za.Organizaciju.Data.CertifikatiOsobe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CertifikatiOsobe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certifikat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certifikat.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPolaganja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPolaganja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
