@model IEnumerable<Organi.Za.Organizaciju.Data.CertifikatiOsobe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Osoba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certifikat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPolaganja)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Ime) &nbsp;
                @Html.DisplayFor(modelItem => item.Osoba.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certifikat.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPolaganja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
