@model Organi.Za.Organizaciju.Data.Oprema

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Oprema</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvertarniBroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvertarniBroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NabavnaCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NabavnaCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrenutnaCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrenutnaCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeAmortizacije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeAmortizacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skladiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skladiste.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferentiBroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferentiBroj.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DostupnoOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DostupnoOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DostupnoDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DostupnoDo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
