@model Organi.Za.Organizaciju.Data.Lokacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lokacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mjesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mjesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drzava)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostanskiBroj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostanskiBroj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaSirina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaSirina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaDuzina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaDuzina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LokalniNaziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LokalniNaziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
