@model IEnumerable<Organi.Za.Organizaciju.Data.Lokacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mjesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drzava)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostanskiBroj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeografskaSirina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeografskaDuzina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokalniNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mjesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drzava)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostanskiBroj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeografskaSirina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeografskaDuzina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokalniNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
