@model Organi.Za.Organizaciju.Data.SklopljeniPosao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SklopljeniPosao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usluga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usluga.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeRadaOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeRadaOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija.LokalniNaziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogovorenaCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogovorenaCijena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
