@model IEnumerable<Organi.Za.Organizaciju.Data.Skladiste>

@{
    ViewData["Title"] = "SkladistaReport";
}

<h2>Popis skladista</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokalniNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mjesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokalniNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mjesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grad)
            </td>
        </tr>
}
    </tbody>
</table>
